.sidebar__wrapper {
  height: 100vh;
  border-radius: 0 30px 30px 0;
  transition: all 0.3s ease-in-out;
  background-color: var(--grey);
}

.sidebar__container {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	height: 100%;
  padding: 64px 24px;
}

.sidebar__logo {
	display: flex;
  height: 65px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 48px;
}

.sidebar__logo--toggle {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: var(--first-light);
  font-size: 25px;
  cursor: pointer;
}

.sidebar__link:hover,
.sidebar__link--active {
  background-color: var(--first-light);
  border-radius: 16px;
}

.sidebar__link--text {
  font-weight: bold;
}

.sidebar__link--text {  
  font-weight: bold;
}

.sidebar__link--text.dark {
  color: var(--white-7);
}

.sidebar__link--text.dark:hover {
  color: var(--white);
}

.sidebar__theme-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar__divider {
	height: 2px;
  margin-bottom: 32px;
  background-color: var(--charcoal);
}